@using Modelo.Entidades;
@model IEnumerable<Medico>;

@{
    ViewData["Title"] = "Medicos";
}

<div class="row mb-3">
    <div class="col-2">
        <a asp-action="Crear" asp-controller="Medico" class="btn bg-gradient-primary text-white text-center fw-bold ms-auto">
            <i class="bi bi-person-plus-fill"></i> Medico
        </a>
    </div>
</div>


@if (Model is not null && Model.Count() > 0)
{
    <div class="row gx-4 gx-lg-5 row-cols-sm-2  row-cols-md-3 row-cols-xl-6 justify-content-center">
        @foreach (Medico medico in Model)
        {
            <div class="card m-2">
                <img src="@medico.Foto" style="height: 200px; width: 100%" />
                <div class="card-body m-0 p-0">
                    <p class="small ms-2 m-0"><b>Nombre:</b> @medico.Nombre </p>
                    <p class="small ms-2 m-0"><b>Apellido:</b> @medico.Apellido</p>
                    <p class="small ms-2 m-0"><b>Telefono:</b> @medico.Telefono</p>
                    <p class="small ms-2 m-0"><b>Cedula:</b> @medico.Cedula</p>
                    <p class="small ms-2 m-0"><b>Correo:</b> @medico.Correo</p>
                </div>
                <div class="footer mx-auto my-2">
                    <a class="btn btn-danger m-1" onclick="confirmDelete('@medico.Id','Medico', 'Borrar')">Eliminar</a>
                    <a class="btn btn-primary" asp-action="Editar" asp-controller="Medico" asp-route-Id="@medico.Id">
                        <i class="bi bi-pen-fill"></i> Editar
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="mt-5 d-flex justify-content-center alert alert-danger">
        <h4>No hay medicos disponibles en estos momentos</h4>
    </div>
}

<partial name="_modalEliminar" />
